{% load define %}
{% load index %}

                <table cellspacing='0' class='no-margin rates-header'>
                    <thead class='controls'>
                    <thead class='controls'>
                    <input name="utf8" type="hidden" value="&#x2713;"/>
                    <input type="hidden" name="locale" id="locale" value="en"/>
                    <tr>
                        <th colspan='3'></th>
                        <th class='promotion' colspan='14'>
                            <button name="button" type="submit" class="apply"><span class='fa fa-check-circle'></span>
                                Apply
                            </button>
                            <input type="text" name="promotion_code" id="promotion_code" value=""/>
                            <label for='promotion_code'>Enter a promotional code</label>
                        </th>
                    </tr>
                    <tr>


                        <th class='date_navigation' colspan='14'>
                            <table>
                                <tr>
                                    <th class='date_nav top_left_corner'>
                                        <ul class='back'>
                                            <li>
                                                <a class="week" id="back_1_week" data-date="23 Jun 2019"
                                                   href="#"><i
                                                        class='fa fa-backward'></i>
                                                    Week
                                                </a></li>
                                            <li>
                                                <a class="day" id="back_1_day" data-date="23 Jun 2019" href="#"><i
                                                        class='fa fa-caret-left'></i>
                                                    Day
                                                </a></li>
                                        </ul>

                                    </th>
                                    <th class='date_nav date_from_nav'>
                                        <div class='date_from'>
                                            <label for="start_date_display">Date from</label>
                                            <input type="text" name="start_date_display" id="start_date_display"
                                                   value="23 Jun 2019" class="calendar"/>
                                            <input type="hidden" name="start_date" id="start_date"
                                                   value="2019-06-23"/>
                                        </div>
                                    </th>
                                    <th class='date_nav top_right_corner'>
                                        <ul class='forward'>
                                            <li>
                                                <a class="day" id="forward_1_day" data-date="24 Jun 2019" href="#">Day
                                                    <i class='fa fa-caret-right'></i>
                                                </a></li>
                                            <li>
                                                <a class="week" id="forward_1_week" data-date="30 Jun 2019">
                                                    Week
                                                    <i class='fa fa-caret-right'></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </th>
                                </tr>
                            </table>
                        </th>
                    </tr>

                    </thead>
                </table>

                </thead>
                </table>
                <table cellspacing='0' class='rates' id='rates'>
                    <thead>
                    <tr>
                        <th class='note' colspan='2'>Prices will be presented in dollars</th>
                        <th class='rack_rate'></th>
                        {% for date in days %}
                        <th class='date'>
                            <span class='day_name'>{{ date | date:"l" }}</span>
                            <span class='day'>{{ date.day }}</span>
                            <span class='month'>{{ date.month }}</span>
                        </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td class='room_name'>
                                <p>{{ room.1 }}</p>
                                <a rel=".photo_overlay[data-id=room_107214]" class="photos" href="#">Photos</a>
                                <a class="details" href="#room_107214">Details</a>
                            </td>
                            <td class='book_now'>
                                <a class="book dynamic en" href=""><span class='fa fa-chevron-circle-right'></span>
                                    Book
                                </a></td>
                            <td class='rack_rate'>$</td>

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% define "" as stop_loop %}
                            {% for booking in bookings %}
                                {% if stop_loop %}{% else %}
                                    {% if booking.3 == room.0 %}
                                        {% if booking.1 == days|index:forloop.parentloop.counter0|date:'Y-m-d' %}
                                            <td class='rate' data-id='124791412'>
                                                <span class='unavailable'>Sold</span>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% else %}
                                            <td class='rate' data-id='124791412'>
                                                <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                            </td>
                                            {% define "true" as stop_loop %}
                                        {% endif %}
                                    {% else %}
                                        <td class='rate' data-id='124791412'>
                                            <a href="{% url 'room' room.0 %}">{{room.2}}</a>
                                        </td>
                                        {% define "true" as stop_loop %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class='bottom_left_corner bottom_right_corner' colspan='17'>
                            <em>Move the mouse over the price for inclusions, occupancy and minimum stay</em>
                        </th>
                    </tr>
                    </tfoot>
                </table>


            </div>