{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ nameOfHotel }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">


    <link rel="stylesheet" media="screen" href="{% static 'css/main.css' %} "/>
    <link rel="stylesheet" media="screen" href="{% static 'css/book_room.css' %} "/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token"
          content="UENh4MFnwXRSowg3jlH25Ki65IrHb2BuuiyHi3NGjjQTRGFHD32EZ1Bq6FI8RuIL8nknlkbbi8LHb2PVY1HzWQ=="/>
</head>
<body>

<div class="header">
    <div class="header-hotel-name">
        {{ nameOfHotel }}
    </div>
</div>

<div class="main">
    {% if messages %}
        <ul class="list-unstyled messages">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'room' room.0 %}" method="post" enctype="multipart/form-data">

        <div class='availability'>
            <table cellspacing='0' class='no-margin rates-header'>
                <thead class='controls'>
                <thead class='controls'>
                <input name="utf8" type="hidden" value="&#x2713;"/>
                <input type="hidden" name="locale" id="locale" value="en"/>
                <tr>
                    <th colspan='3'></th>
                    <th class='promotion' colspan='14'>
                        <button name="button" type="submit" class="apply"><span class='fa fa-check-circle'></span>
                            Apply
                        </button>
                        <input type="text" name="promotion_code" id="promotion_code" value=""/>
                        <label for='promotion_code'>Enter a promotional code</label>
                    </th>
                </tr>
                <tr>
                    Week
                    <i class='fa fa-forward'></i>
                    <th class='date_navigation' colspan='14'>
                        <table>
                            <tr>
                                <th class='date_nav top_left_corner'>
                                    <ul class='back'>
                                        <li>
                                            <a class="week" id="back_1_week" data-date="23 Jun 2019"
                                               href="#"><i
                                                    class='fa fa-backward'></i>
                                                Week
                                            </a></li>
                                        <li>
                                            <a class="day" id="back_1_day" data-date="23 Jun 2019" href="#"><i
                                                    class='fa fa-caret-left'></i>
                                                Day
                                            </a></li>
                                    </ul>

                                </th>

                                <th class="date_nav">
                                    <div class='col-md-5'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker6'>
                                                <input required type='text' name='date-from' class="form-control"/>
                                                <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-5'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker7'>
                                                <input required type='text' name="date-to" class="form-control"/>
                                                <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                </th>

                                <th class='date_nav top_right_corner'>
                                    <ul class='forward'>
                                        <li>
                                            <a class="day" id="forward_1_day" data-date="24 Jun 2019" href="#">Day
                                                <i class='fa fa-caret-right'></i>
                                            </a></li>
                                        <li>
                                            <a class="week" id="forward_1_week" data-date="30 Jun 2019">
                                                Week
                                                <i class='fa fa-caret-right'></i>
                                            </a>
                                        </li>
                                    </ul>

                                </th>
                            </tr>
                        </table>
                    </th>
                </tr>

                </thead>
            </table>

            {% include 'mainapp/includes/book_room.html' %}
        </div>

        {% csrf_token %}
        <label>First name*</label>
        <input type="text" required name="name" placeholder="Enter your name">
        <br>
        <label>Last name*</label>
        <input type="text" required name="surname" placeholder="Enter your surname">
        <br>
        <label>Email</label>
        <input type="text" required name="email" placeholder="Enter your email address">
        <br>
        <label>Contact number</label>
        <input type="text" required name="number" placeholder="Enter your contact number">
        <button type="submit">Book</button>

    </form>
</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD'
            //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
</body>
</html>