<div class="sidebar-nav">
    <ul>
        <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i
                class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
        <li>
            <ul class="dashboard-menu nav nav-list collapse in">
                <li><a href="{% url 's-admin:main' %}"><span class="fa fa-caret-right"></span>Main</a></li>
                <br>
                <li><a href="{% url 's-admin:create' %}"><span class="fa fa-caret-right"></span>Create</a></li>
                <br>
                <li><a href="{% url 's-admin:view' %}"><span class="fa fa-caret-right"></span>All Rooms</a></li>
                <br>
                <li><a href="calendar.html"><span class="fa fa-caret-right"></span> Help</a></li>
                <br>
            </ul>
        </li>

    </ul>
</div>