{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vagonka40.ru</title>
    <link rel="stylesheet" href="{% static 'packages/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

<div class="">
    <div class="container">
        <nav class="navbar navbar-default xsNavBar visible-xs">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand xsLogo" href="#">vagonka40.ru</a>
                </div>

                {% include "mainapp/includes/mobile_nav.html" %}

            </div><!-- /.container-fluid -->
        </nav>


    </div>
</div>

<div class="container content" style="margin-top: 30px;">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <ul class="hidden-xs mainMenu">
                <li><a href="#">Меню</a></li>
                <li><a href="/">Главная</a></li>

                {% for category in categories %}
                    <li><a href="#">{{ category.name }}</a></li>
                {% endfor %}
                <li><a href="{% url 'cart' %}">Корзина {{ total }}‎₽</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="contentHeader newProductsHeader">
                {{ category.name }}
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 productUnitCol">
                        <div class="productUnit">
                            <img class="productImg" src="{{ product.photo.url }}" alt="{{ product.name }}">
                            <div class="nameAndPriceWrap">
                                <div class="productName">
                                    {{ product.name }} ({{ product.sort.name }}, {{ product.length }}m)
                                </div>
                                <div class="productPriceWrap">
                                    <div class="actualPrice">
                                        {{ product.price }}р/уп(10шт)

                                    </div>
                                    <form action="{% url 'addToCart' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">В корзину</button>
                                        <input type="number" name="quantity" value="1">
                                        <input type="hidden" name="product" value="{{ product.id }}">

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% include 'mainapp/includes/footer.html' %}


<script src="{% static 'packages/jquery/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>