{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vagonka40.ru</title>
    <link rel="stylesheet" href="{% static 'packages/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-default xsNavBar visible-xs">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand xsLogo" href="#">vagonka40.ru</a>
                </div>
                {% include "mainapp/includes/mobile_nav.html" %}

            </div><!-- /.container-fluid -->
        </nav>
        <a href="#" class="logo hidden-xs"></a>
        <div class="welcomeWrap">
            <div class="welcome">
                Добро пожаловать!
            </div>
            <div class="welcomeText">
                18 лет мы произодим <br>
                евровагонку
            </div>
        </div>
        <div class="socialIconsWrap">
            <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
        <div class="funrideWrap">
            <div class="funrideHead">
                Вагонка<br>
                д. Савино
            </div>
            <div class="funrideDesc">
                - Собственое производство <br>
                - Наличие на складе <br>
                <span style="color: #ffffff">- Немецкие станки</span> <br>
                - Качественная сушка <br>
            </div>
            <a class="funrideBuyBtn" href="#">Купить</a>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <ul class="hidden-xs mainMenu">
                <li><a href="#">Меню</a></li>
                <li><a href="/">Главная</a></li>

                {% for category in categories %}
                    <li><a href="{% url 'categories' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
                <li><a href="{% url 'cart' %}">Корзина {{ total }}‎₽</a></li>

                <li><a href="#">Контакты</a></li>
            </ul>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="contentHeader newProductsHeader" style="height: auto;">
                Фильтр:
                <form action="{% url 'search' %}" id="filter-form" method="post">
                    {% csrf_token %}
                    <select name="category" id="category">
                        <option value="">Категория</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="sort" id="sort">
                        <option value="">Сорт</option>
                    </select>
                    <select name="length" id="length">
                        <option value="">Длина</option>
                    </select>
                    <button type="submit">Поиск</button>
                </form>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="contentHeader newProductsHeader">
                Новые продукты
            </div>
            <div class="row">
                {% for product in new_products %}
                    <div class="col-lg-4 col-md-6 productUnitCol">
                        <div class="productUnit">
                            <img class="productImg" src="{{ product.photo.url }}" alt="{{ product.name }}">
                            <div class="nameAndPriceWrap">
                                <div class="productName">
                                    {{ product.name }} ({{ product.sort.name }}, {{ product.length }}m)
                                </div>
                                <div class="productPriceWrap">
                                    <div class="actualPrice">
                                        {{ product.price }}‎р/уп(10шт)
                                    </div>
                                    <form action="{% url 'addToCart' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">В корзину</button>
                                        <input type="number" name="quantity" value="1">
                                        <input type="hidden" name="product" value="{{ product.id }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="contentHeader">
                Популярное
            </div>
            <div class="row">
                {% for product in top_products %}
                    <div class="col-lg-4 col-md-6 productUnitCol">
                        <div class="productUnit">
                            <img class="productImg" src="{{ product.photo.url }}" alt="{{ product.name }}">
                            <div class="nameAndPriceWrap">
                                <div class="productName">
                                    {{ product.name }} ({{ product.sort.name }}, {{ product.length }}m)
                                </div>
                                <div class="productPriceWrap">
                                    <div class="actualPrice">
                                        {{ product.price }}р
                                        {% if product.category.name == "Вагонка" %}
                                            /уп(10шт)
                                        {% else %}
                                            /мп
                                        {% endif %}
                                    </div>
                                    <form action="{% url 'addToCart' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">В корзину</button>
                                        <input type="number" name="quantity" value="1">
                                        <input type="hidden" name="product" value="{{ product.id }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="data" style="display: none">
        {{ filter_data }}
    </div>
</div>
{% include 'mainapp/includes/footer.html' %}

<script>
    let data = JSON.parse(document.getElementById("data").innerText.split("'").join('"'));
    let sort_f = document.getElementById('sort');
    let len_f = document.getElementById('length');
    let temp;

    document.getElementById('category').addEventListener('change', (e) => {
        temp = e.target;
        try {
            for (let el of data[e.target.options[e.target.selectedIndex].value][0]) {
                sort_f.innerHTML += `<option value="${el}">${el}</option>`
            }
        } catch (TypeError) {
            sort_f.innerHTML = `<option value="">Сорт</option>`;
        }
    });

    document.getElementById('sort').addEventListener('change', (e) => {
        len_f.innerHTML = `<option value="">Длина</option>`;
        try {
            for (let el of data[temp.options[temp.selectedIndex].value][1][sort_f.selectedIndex - 1]) {
                len_f.innerHTML += `<option value="${el}">${el}</option>`

            }
        } catch (TypeError) {
            len_f.innerHTML = `<option value="">Длина</option>`;
        }
    });
</script>
<script src="{% static 'packages/jquery/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>