    <div class="footer">
        <div class="container footerInside">
            <div class="footerColumn">
                <div class="columnHead">
                    Category
                </div>
                <div class="columnLinks">
                    <a href="#">Home</a>
                    <a href="#">about us</a>
                    <a href="#">eshop</a>
                    <a href="#">Features</a>
                    <a href="#">new collections</a>
                    <a href="#">blog</a>
                    <a href="#">contact</a>
                </div>
            </div>
            <div class="footerColumn">
                <div class="columnHead">
                    Our Account
                </div>
                <div class="columnLinks">
                    <a href="#">Your Account</a>
                    <a href="#">Personal information</a>
                    <a href="#">Addresses</a>
                    <a href="#">Discount</a>
                    <a href="#">Orders history</a>
                    <a href="#">Addresses</a>
                    <a href="#">Search Terms</a>
                </div>
            </div>
            <div class="footerColumn">
                <div class="columnHead">
                    Our Support
                </div>
                <div class="columnLinks">
                    <a href="#">Site Map</a>
                    <a href="#">Search Terms</a>
                    <a href="#">Advanced Search</a>
                    <a href="#">Mobile</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Mobile</a>
                    <a href="#">Addresses</a>
                </div>
            </div>
            <div class="footerColumn newsLetter">
                <div class="columnHead">
                    Newsletter
                </div>
                <div class="columnNewsLetter">
                    <div class="newsLetterText">
                        Join thousands of other people subscribe to our news
                    </div>
                    <input type="text" placeholder="INSERT EMAIL">
                    <button>SUBMIT</button>
                    <div class="cardsWrap">
                        <img src="images/paymentMethods/american-express.jpg" alt="">
                        <img src="images/paymentMethods/master-card.jpg" alt="">
                        <img src="images/paymentMethods/maestro.jpg" alt="">
                        <img src="images/paymentMethods/paypal.jpg" alt="">
                        <img src="images/paymentMethods/discover.jpg" alt="">
                        <img src="images/paymentMethods/visa.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="footerColumn about">
                <div class="columnHead">
                    About Us
                </div>
                <div class="columnAboutUs">
                    <div class="aboutText">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis, sem.
                    </div>
                    <div class="aboutPhone">
                        <span>Phone:</span> 1-999-342-9876
                    </div>
                    <div class="aboutEmail">
                        <span>E-mail:</span> info@surfhouse.com
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerCopyrights">
        <div class="container copyrightsInside">
            <div class="footerCopySign">
                &copy; 2020 All rights reserved.
            </div>
            <div class="footerSocials">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-pinterest-p"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-tumblr"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-feed"></i>
            </div>
        </div>
    </div>