<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="#">О Нас</a></li>
        <li><a href="/">Главная</a></li>

        {% for category in categories %}
            <li><a href="{% url 'categories' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'cart' %}">Корзина</a></li>

        <li><a href="#">Контакты</a></li>
    </ul>

</div><!-- /.navbar-collapse -->